body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

#mapa, #formulario {
    width: 80%;
    margin: 20px auto;
}

#formulario {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: grid;
    grid-gap: 10px;
}

label {
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-top: 5px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.map-container {
    border: 2px solid #333;
    border-radius: 8px;
    
}

.map-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
}
